
body{
  width: 90%;
  margin: 0 auto;
}
header {
  border: 1px solid black;
  margin: 0 auto;
}

h1{
  text-align: center;
}
main{
  border: 1px solid black;
  min-height: 600px;
}
section {
  width: 50%;

  margin: 0 auto;
  text-align: center;
  margin-top: 1em;

}
#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
  width: 50px;
  height : 50px;
  margin: 0 auto;
  color: white;
  cursor: pointer;
}
#win{
  visibility: hidden;
}
